.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.nav{
    width: 32%;
    margin-left: 40px;
}
.right{
    width: 65%;
   
}
#header{
    background-color: black;
    padding: 5rem 10rem;
   
    padding-right: 30px;
    

    
}
.right a{
    margin-left: 40px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    position: relative;
}
.right i{
    margin-left: 30px;
    font-size: 25px;
    color: white;
  
}
.nav a{
    font-size: 50px;
    text-decoration: none;
    color: white;
    font-family: "AvantGarde Bold", Sans-serif;
   
}
.right a::before{
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    bottom: -4px;
    right: 0;
    width: 0;
    height: 4px;
    transition: 0.5s;
    background-color: rgb(212, 18, 40);
}
.right a:hover::before{
    width: 40%;
}
.home::after{
    content: '';
   
    position: absolute;
    top: 30px;
    left: 0;
    bottom: -4px;
    right: 0;
    width: 40%;
    height: 4px;
    transition: 0.5s;
    background-color: rgb(212, 18, 40);
}
.home{
    position: relative;
    
}


.our{
    text-align: center;
    padding: 3rem 0;
}
.our h4{
    font-size: 20px;
    opacity: 0.5;
}
.our h2{
    font-size: 45px;
    color: #555555;
}
.our h2 span::before{
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 6px;
    transition: 0.5s;
    background-color:rgb(99, 133, 99);
    z-index: -111;
}
.our h2 span{
    position: relative;
}
.allbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    width: 29%;
    position: relative;
    overflow: hidden;
    z-index: 1111111;
    margin-top: 30px;
    
}
.box img{
    width: 100%;
    height: 500px;
}
#destination{
    padding: 2rem 7rem;
}
.close h3{
    font-size: 40px;
    color: white;
    margin-left: -20px;
    margin-top: 100px;
}
.close a{
    border: 1px solid;
    border-radius: 50px;
    border-color: white;
    color: blueviolet;
    background-color: white;
    
    padding: 15px 60px;
    margin-left: -30px;
    text-decoration: none;
    margin-top: 20px;
    
    display: inline-block;

}
.close p{
    color: white;
    margin-top: 10px;
}

.close{
    position: absolute;
   text-align: center;
   opacity: 0;
   z-index: 22222;
   transition: 1s;
   width: 100%;
   height: 100%;
   background-color: rgb(73, 172, 205);
}
   
   
.box:hover .close{
    opacity: 1;

    
}
   
.box-write{
    position: absolute;
    top: 75%;
    left: 10%;
    color: white;
    font-size: 25px;
    

}
.box-write  h3{
    margin-top: 30px;
}

   
    
   
 
    
   
  
   

